body,
html {
  height: 100%;
  margin: 0;
  font-family: sans-serif, sans-serif;
}

.background-container {
  background-image: url("../assets/img/imagen_2.png");
  background-size: 42%;
  background-repeat: no-repeat;
  background-position: 100px center;
  background-color: #d4f1ff;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.text-content {
  color: black;
  padding-right: 70px;
  width: 50%;
  box-sizing: border-box;
  text-align: right;
}

h1 {
  font-size: 3rem;
  margin: 0;
  color: #306ccb;
  text-align: end;
  margin-top: 20px;
}

p {
  font-size: 3rem;
  margin: 0;
  text-align: end;
}

.cta-button {
  margin-top: 40px;
  padding: 20px 40px;
  font-size: 2em;
  color: white;
  background: linear-gradient(to bottom, #3399ff, #306ccb);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.text-content-movil {
  display: none;
}

/* Puntos de quiebre */

/* Para dispositivos con un ancho de 1024px o menor (tablets) */
@media (max-width: 1110px) {
  h1 {
    font-size: 2rem;
    margin: 0;
    text-align: end;
    color: black;
  }

  b {
    font-weight: normal;
  }

  p {
    font-size: 2rem;
    margin: 0;
    color: #306ccb;
    text-align: end;
    margin-top: 20px;
  }

  .text-content {
    padding-left: 20px;
  }

  .background-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-end;
    background-position: 50px center;
  }

  .text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    width: 50%;
    justify-content: center;
  }

  .cta-button {
    font-size: 1.5rem;
  }
}

/* Para dispositivos con un ancho de 767px o menor (movil) */
@media (max-width: 767px) {
  .background-container {
    height: 50vh; /* Ocupa el 50% del alto del viewport */
    background-position: center top;
    background-size: 55vh;
  }
  .text-content {
    height: 50vh; /* Ocupa el otro 50% del alto del viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    padding-left: 20px; /* Ajusta el padding según necesites */
    width: 100%; /* Asegura que ocupe todo el ancho en móviles */
  }

  .text-content {
    display: none;
  }

  .text-content-movil {
    display: flex;
    flex-direction: column; /* Alinea los elementos en una sola columna */
    align-items: center; /* Centra horizontalmente todos los elementos */
    padding: 0 80px;
    background-color: #d4f1ff;
    height: 50%;
  }

  h1 {
    font-size: 2.2rem;
    text-align: center;
    color: #306ccb;
  }

  p {
    font-size: 2rem;
    text-align: center;
    padding: 5px 15px;
    color: black;
    margin-top: 0;
  }

  .divider {
    display: none;
  }

  .cta-button {
    font-size: 1.2rem;
    padding: 15px 40px;
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.7rem;
  }

  .text-content-movil {
    padding: 0 60px;
  }
}
